{% extends "base.html" %}

{% block title %}Universidad El Bosque - Arbol del Bosque{% endblock %}

{% block content %}

<script>
    
    </script>

<br>
<h3 align="center">Índice</h3>

<ul>
    <li><a onclick='arbolfunctions.indice.categoria()'>Crear Categoria</a></li>
    <li><a onclick='javascript:alert("hmmmm")'>Crear Texto</a></li>
    <li><a onclick='javascript:alert("hmmmm")'>Busqueda</a></li>
    <li><a onclick='javascript:alert("hmmmm")'>Cargar Imagen</a></li>
    <li><a onclick='javascript:alert("hmmmm")'>Ver Pagina</a></li>
</ul>




<div id="dialog-confirm"style="font-size:70%"></div>


{% endblock %}
