{% load dajaxice_templatetags %}

<html>
  <head>
  <!--   meta name="viewport" content="initial-scale=1.0, user-scalable=no" / -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}Bosque{% endblock %}</title>
    {% dajaxice_js_import %}
  
    <script src="/bosque/static/js/jquery.dajax.core.js?{{ looks.vc.token }}"> </script>
    <script src="/bosque/static/js/dajaxice.core.js?{{ looks.vc.token }}"> </script>
    
    <script type="text/javascript" src="/bosque/static/js/jquery-1.7.2.min.js?{{ looks.vc.token }}"> </script>
    <script type="text/javascript" src="/bosque/static/js/jquery-ui-1.9.1.custom.js?{{ looks.vc.token }}"></script>
    <script type="text/javascript" src="/bosque/static/js/jquery.multiselect.js?{{ looks.vc.token }}"></script>
    
    <link type="text/css" href="/bosque/static/css/south-street/jquery-ui-1.9.1.custom.css?{{ looks.vc.token }}" rel="stylesheet" />
    <link rel="stylesheet" href="/bosque/static/css/jquery.multiselect.css?{{ looks.vc.token }}" type="text/css"  />
    
    <script src="/bosque/static/js/arbolfunctions.js?{{ looks.vc.token }}"> </script>
    
    
    
    <script>
    {% block js_ready %} 

        $(document).ready(function(){
            $("#textolistacategorias").multiselect({selectedText: "Seleccionada(s) # de #", noneSelectedText:"Seleccione Categoria"});
        });

    {% endblock %}
    </script>
    
    
  </head>
  
  
  <body style='margin:0px;background:#eff2dc'>

    <div style="background:#eff2dc" id= "contentblockk">{% block content %}block: content{% endblock %}</div>

  </body>
</html>
