{% extends "base.html" %}

{% block title %}Crear Categoría{% endblock %}

{% block content %}
<br>
<h3 align="center">Creación de Categorías</h3>
    <form style='margin:10;'>
        Nombre de la Categoría: <input type="text" name="nombrecategoria" size="110" maxlength="100" id = "categorianombre"><br><br>
        Descripción: <br> <textarea cols="140" rows="15" name="descripcion" id = "categoriadesc">...</textarea><br><br>
        <input type="button" value="Crear Categoria" onclick='arbolfunctions.categoria.guardar()'>
        <!-- input type="button" value="Cancelar" onclick = "$('#dialog-confirm').dialog.close():" -->
    </form>
    <h6>
    <ul>
        <li>Las categorías facilitan la búsqueda de información dentro del Arbol del Bosque, y permiten ver las páginas contenidas en cada una de ellas, o bien navegar a través de ellas, gracias a su ordenación jerárquica</li>
    </ul>
    </h6>

<span id="resultado"></span>
{% endblock %}
