{% extends "base.html" %}

{% block title %}Artículo{% endblock %}

{% block content %}
<br>
<h3 align="center">Artículo</h3>
    <form style='margin:10;'>
        Freyja <br><br>
        Freyja, es una de las diosas mayores en la mitología nórdica y germánica, de la cual se preservaron numerosos relatos que la involucran o la describen. Debido a que las fuentes mejor documentadas de esta tradición religiosa fueron transmitidas y alteradas por historiadores cristianos medievales y en muchos casos, escritas más de siglo y medio más tarde su verdadero rol, las prácticas paganas y su culto son inciertos.
    </form>

<span id="resultado"></span>
{% endblock %}
