{% extends "base.html" %}

{% block title %}Universidad El Bosque - Arbol del Bosque{% endblock %}

{% block content %}

<script>
    
    </script>

<br>
<h3 align="center">Arquitectura de la Informacion en un Entorno 3D para Wikipedia - Demostracion Formularios</h3>

<ul>
    <li><a onclick='arbolfunctions.indice.categoria()'>Crear Categoría</a></li>
    <li><a onclick='arbolfunctions.indice.texto()'>Crear Texto</a></li>
    <li><a onclick='arbolfunctions.indice.busqueda()'>Búsqueda</a></li>
    <li><a onclick='arbolfunctions.indice.imagen()'>Cargar Imagen</a></li>
    <li><a onclick='arbolfunctions.indice.pagina()'>Ver Página</a></li>
</ul>




<div id="dialog-confirm"style="font-size:70%"></div>


{% endblock %}
